{% trans_default_domain 'FOSUserBundle' %}
{#
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>

{{ form_end(form) }}
#}

<div class="top bot">

    <h2 class="top">Zarejestruj się w systemie</h2>

    <div class="row top">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_row(form.imie) }}
            {{ form_row(form.nazwisko) }}
            {{ form_row(form.email) }}
            {{ form_row(form.username) }}
            {{ form_row(form.plainPassword) }}

            <div>
                <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>

            {{ form_end(form) }}
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

